//- version 2 (labels(icon, video, text, position))
mixin labels(labelsData)
	each label in labelsData
		if (label.icon)
			a(class= `item_label_link item_label_link--icon_${label.position}_mod` href= '#')
				if (label.text_top)
					span.item_label_link__text_top= label.text_top
				+icon(label.icon)
				if (label.text_bottom)
					span.item_label_link__text_bottom= label.text_bottom

		if (label.png)
			a(class= `item_label_link item_label_link--icon_${label.position}_mod` href= '#')
				img(class= 'item_label_img' src= `${assetsImage}${label.png}.png`)

		if (label.video && label.url)
			a(class= `item_label_link item_label_link--video_${label.position}_mod` href= label.url)

		if (label.text)
			span(class= `item_label_box item_label_box--${label.position}_mod`)
				each text, index in label.text
					- mod = `item_label_link--${label.position}_mod`
					- psevdoMod = label.text.length > 1 && index === 0 ? `item_label_link--psevdo_mod` : ''
					a(class= `item_label_link ${mod} ${psevdoMod}` href= '#')= text