//- item{ mod, img{ name, name_mob }, url, labels{ icon, video, text, position } }
mixin gallery(gl_class, data) 
	ul(class= `${gl_class} list`)
		each item in data 	
			- isUrl = item.url ? true : false
			- islabels = item.labels ? true : false

			li(class= `item item--${item.mod}_mod`)
				if (item.img && isUrl)
					a(class= `item_link` href= `${item.url}`)
						+picture({
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: false,
							contain: false,
							class: 'item_picture',
							img: item.img.name,
							img_mob: item.img.name_mob,
						})
					if (islabels)
						+labels(item.labels)
					
				else if (item.img)
					+picture({
							typeJpeg: false,
							png: false,
							media: 1024,
							is2x: false,
							contain: false,
							class: 'item_picture',
							img: item.img.name,
							img_mob: item.img.name_mob,
						})
					if (islabels)
						+labels(item.labels)

				else 	
					.item_author
						if (item.quote)
							+author_info(item.quote)
					.item_social
						if (item.social)
							+social(item.social)

//- version 2 (labels(icon, video, text, position))
mixin labels(labelsData)
	each label in labelsData
		if (label.icon)
			a(class= `item_label_link item_label_link--icon_${label.position}_mod` href= '#')
				+icon(label.icon)
		if (label.png)
			a(class= `item_label_link item_label_link--icon_${label.position}_mod` href= '#')
				img(class= 'item_label_img' src= `${assetsImage}${label.png}.png`)
		else if (label.video)
			a(class= `item_label_link item_label_link--video_${label.position}_mod` href= '#')
		else
			span(class= `item_label_box item_label_box--${label.position}_mod`)
				each text in label.text
					a(class= `item_label_link item_label_link--${label.position}_mod` href= '#')= text


mixin author_info(quote)
	if (quote)
		p.item_author__quote= quote.text
		p.item_author__author
			span.item_author__name= quote.author.name
			span.item_author__pos= quote.author.position 
			a(class= 'item_author__link' href= '#')
				if (quote.author.icon) 
					+icon(quote.author.icon)
				else if (quote.author.img) 
					img(class= 'item_author__img' src= `${'images/'}${quote.author.img}.png`)
				else 	
					span ->

